{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
{% include 'header.html.twig' %}
{% include 'flash.html.twig' %}
{% if error %}
    <div class="alert alert-danger">
        {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
{% endif %}
{% if app.user %}
    <div class="container">
        <h1 class="text-center mt-5">Déjà connecté</h1>
        <p class="mt-5 mb-5">Vous étes déjà connecté {{ app.user.prenom|capitalize }} {{ app.user.nom|capitalize }}. <a class="btn btn-primary" href="{{ path('logout') }}">Déconnexion</a></p>
    </div>
{% else %}
    <div class="container-md mt-5">
        <h1 class="text-center mb-5">Connection</h1>
        <form action="{{ path('login') }}" method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Email</label>
                <input type="email" class="form-control" id="username" aria-describedby="emailHelp" name="_username" value="{{ last_username }}">
                <div id="emailHelp" class="form-text">Nous ne partagerons jamais votre e-mail avec quelqu'un d'autre.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
                <input type="password" class="form-control" id="password" name="_password">
            </div>
            <input type="hidden" name="_target_path" value="/posts"/>

            <button type="submit" class="btn btn-primary">Connexion</button>
        </form>
        <a class="btn btn-primary mt-4" href="{{ path('forgot_password') }}">Mot de passe oublié ?</a>
    </div>
{% endif %}
{% include 'footer.html.twig' %}
{% endblock %}