{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
{% include 'flash.html.twig' %}
{% if error %}
    <div class="alert alert-danger">
        {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
{% endif %}
{% if app.user %}
    <div class="container">
        <h1 class="text-center mt-5">Déjà connecté</h1>
        <p class="mt-5 mb-5">Vous étes déjà connecté {{ app.user.prenom|capitalize }} {{ app.user.nom|capitalize }}. <a class="btn btn-primary" href="{{ path('logout') }}">Déconnexion</a></p>
    </div>
{% else %}
    <main>
        <div class="login">
            <div class="login__text">
                <h1 class="login__text--color">bigblog</h1>
                <h2 class="login__text--h2">Avec BigBlog, partagez et restez en contact avec votre entourage.</h2>
            </div>
            <div class="login__form">
                <form action="{{ path('login') }}" method="post">
                    <div class="mb-3">
                        {% if last_username is not defined %}
                            <input type="email" class="form-control" id="username" aria-describedby="emailHelp" name="_username" value="{{ last_username }}" required>
                        {% else %}
                            <input type="email" class="form-control" id="username" aria-describedby="emailHelp" name="_username" placeholder="Adresse e-mail ou numéro de tél." required>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" id="password" name="_password" placeholder="Mot de passe" required>
                    </div>

                    <button type="submit" class="btn btn-primary login__form--btn">Se connecter</button>
                </form>
                <p class="login__form--forgot"><a href="">Mot de passe oublié ?</a></p>
                <div class="login__form--line"></div>
                <p class="login__form--login"><a href="{{path('register')}}" class="login__form--createlink">Créer nouveau compte</a></p>
            </div>
        </div>
    </main>
{% endif %}
{% endblock %}