<main>
    <article class="mx-5">
        <h3 class="mb-5 margin-user text-shadow-drop-right text-center">Ajoutez une video ici !</h3>
        {{ form_start(form) }}
            <section class="text-danger">{{ form_errors(form) }}</section>
            <section class="form-group">
                <div class="text-danger">{{ form_errors(form.url) }}</div>
                <p>Video : </p>
                <div>{{ form_widget(form.url) }}</div>
                <small class="form-text text-muted">{{ form_help(form.url) }}</small>
            </section>        
            <button class="btn btn-outline-lg btn-primary" type="submit">Ajoutez</button>
        {{ form_end(form) }}
    </article>
</main>
